<div class="container-fluid move100right move40down">
  <p class="h2 fw-bold"> Log in </p>
  <div class="cardBorder text-white text-opacity-75 text">
    <form>
      <div class="container move40down">
        <div class="row row-cols-2">
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">E-mailadres</label>
              </div>
            </div>
          </div>
          <div class="col"></div>
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Wachtwoord</label>
              </div>
            </div>
          </div>
        </div>

        <div class="ms-4 mb-4">
          <label>
            <a
              href="https://accounts.google.com/signin/v2/recoveryidentifier?flowName=GlifWebSignIn&flowEntry=AccountRecovery">Wachtwoord
              vergeten?</a>
          </label>
        </div>

        <div class=" mx-4 mb-3 mb-lg-4">
          <button type="button" class="btn btn-primary btn-medium" routerLink="/dashboard">
            Inloggen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>