<div class="container-fluid move100right move40down">
  <p class="h2 fw-bold"> Meld je aan </p>
  <div class="cardBorder text-black">
    <form>
      <div class="container move40down">
        <div class="row row-cols-2">
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example1c" class="form-control" />
                <label class="form-label" for="form3Example1c">Jouw naam</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="email" id="form3Example3c" class="form-control" />
                <label class="form-label" for="form3Example3c">Jouw e-mailadres</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="form3Example4c" class="form-control" />
                <label class="form-label" for="form3Example4c">Wachtwoord</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="form3Example4cd" class="form-control" />
                <label class="form-label" for="form3Example4cd">Herhaal jouw wachtwoord</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input mt-2 mx-2" type="checkbox" value="" id="form2Example3c" />
          <label class="form-check-label " for="form2Example3">
            Ik ga akkoord met alle verklaringen in de servicevoorwaarden
            <a class="underline" href="https://policies.google.com/terms?hl=nl">Terms of service</a>
          </label>
        </div>

        <div class=" mx-4 mb-3 mb-lg-4">
          <button type="button" class="btn btn-primary btn-medium" routerLink="/login">
            Aanmelden
          </button>
        </div>
      </div>
    </form>
  </div>
</div>