ul,
ol {
  color: #fff;
}

.card-title {
  max-width: 79%;
}

.btn {
  margin-bottom: auto;
  margin-right: 42px;
}

.card,
.card-body {
  padding-top: 1px;
  max-height: 193px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}
