<footer class="text-center text-white fixed-bottom bg-main">
  <section class="">
    <div class="container text-center text-md-start">
      <div class="row mt-2">
        <div class="col-md-6 col-lg-4 col-xl-5  mb-3">
          <h6 class="text-uppercase fw-bold mb-2">
            <i class="fas fa-gem me-3"></i>Gouden maaltijdbezorging
          </h6>
          <p>
            Dit project is gemaakt voor het vak Client-side web programming voor de school van Avans. Je kunt hier
            maaltijden reserveren als je in een studentenhuis woont en die maaltijd wordt dan bezorgd.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-1 mx-auto mb-3">
          <h6 class="text-uppercase fw-bold mb-2">
            Producten
          </h6>
          <p>
            <a class="nav-link" routerLink="/meals">Maaltijden</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
          <h6 class="text-uppercase fw-bold mb-2">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Lovensdijkstraat 61, 4818 AJ, Breda</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mjh.chen@student.avans.nl
          </p>
          <p><i class="fas fa-phone me-3"></i> + 06 234 567 88</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.08);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://meal-delivery.netlify.app/">meal-delivery.netlify.app</a>
  </div>
</footer>
